<!-- BREADCRUMBS -->
<div class="bcrumbs">
    <div class="container">
        <ul>
            <li><a>Order</a></li>
            <li>Check OUT</li>
        </ul>
    </div>
</div>

<div class="space10"></div>

<form class="" [formGroup]="shippingFormGroup">
    <!-- MAIN CONTENT -->
    <div class="shop-single shopping-cart">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="table-responsive">
                        <table class="cart-table">
                            <tr>
                                <th>Product Image</th>
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>Unit Price</th>
                                <th>Subtotal</th>
                            </tr>
                            <tr *ngFor="let cartdata of cart">
                                <td><img [src]="imageURL + cartdata?.images" class="img-responsive" alt=""/></td>
                                <td>
                                    <h4><a [routerLink]="'/product/detail/' + cartdata?._id">{{cartdata?.name}}</a></h4>
                                </td>
                                <td>
                                    {{cartdata.qty}}
                                </td>
                                <td>
                                    <div class="item-price">{{cartdata?.discount ? (cartdata?.price -
                                        (cartdata?.price*cartdata?.discount/100)) : cartdata?.price}}
                                    </div>
                                </td>
                                <td>
                                    <div class="item-price">{{cartdata?.discount ? cartdata?.qty*(cartdata?.price -
                                        (cartdata?.price*cartdata?.discount/100)) : cartdata?.qty*cartdata?.price}}
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="table-btn">
                            <a routerLink="/product" class="btn-black pull-left">Continue Shopping</a>
                        </div>
                        <div class="table">
                            <!--<h5>Estimated delivery time: {{estimatedDate.startDate | date}}-{{estimatedDate.endDate | date}} days</h5>-->
                            <h5>Estimated delivery time: 4-7 days</h5>
                        </div>
                    </div>
                    <div class="clearfix space20"></div>

                    <div class="row">
                        <h4 class="account-title"><span class="fa fa-chevron-right"></span>Shipping Address</h4>
                        <div class="clearfix"></div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group" style="display: block; !important;">
                                <label>Division <span class="text-danger">*</span></label>
                                <select *ngIf="user && user?.division && user?.division._id" class="gg form-control" [ngClass]="{'ng-touched': checkoutValidation?.division}"
                                        name="division" (change)="getDistrictsByDivision($event.target.value)"
                                        [formControl]="shippingFormGroup.controls['division']"
                                        [(ngModel)]="user.division._id" style="display: block; !important;">
                                    <option *ngFor="let division of divisions" [value]="division?._id">
                                        {{division?.name}}
                                    </option>
                                </select>
                                <select *ngIf="!user?.division?._id"
                                        class="form-control gg" [ngClass]="{'ng-touched': checkoutValidation?.division}" name="division"
                                        (change)="getDistrictsByDivision($event.target.value)"
                                        [formControl]="shippingFormGroup.controls['division']" style="display: block; !important;">
                                    <option *ngFor="let division of divisions" [value]="division?._id">
                                        {{division?.name}}
                                    </option>
                                </select>
                                <span *ngIf="shippingFormGroup.controls['division'].hasError('required') && shippingFormGroup.controls['division'].touched || checkoutValidation?.division">Shipping division is required.</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group" style="display: block; !important;">
                                <label>District <span class="text-danger">*</span></label>
                                <select *ngIf="user && user.district && user.district._id" class="form-control gg"  [ngClass]="{'ng-touched': checkoutValidation?.district}"
                                        name="district"
                                        [formControl]="shippingFormGroup.controls['district']"
                                        [(ngModel)]="user.district._id" style="display: block; !important;">
                                    <option *ngFor="let district of showDistricts" [value]="district?._id">
                                        {{district?.name}}
                                    </option>
                                </select>
                                <select *ngIf="!user?.district?._id"
                                        class="form-control gg" [ngClass]="{'ng-touched': checkoutValidation?.district}" name="district"
                                        [formControl]="shippingFormGroup.controls['district']" style="display: block; !important;">
                                    <option *ngFor="let district of showDistricts" [value]="district?._id">
                                        {{district?.name}}
                                    </option>
                                </select>
                                <span *ngIf="shippingFormGroup.controls['district'].hasError('required') && shippingFormGroup.controls['district'].touched || checkoutValidation?.district">Shipping district is required.</span>
                            </div>
                        </div>
                        <div class="clearfix space20"></div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label>Address 1 <span class="text-danger">*</span></label>
                                <input required type="text" class="form-control" [ngClass]="{'ng-touched': checkoutValidation?.address_1}" name="address_1"
                                       [formControl]="shippingFormGroup.controls['address_1']"
                                       [(ngModel)]="user.address_1" required>
                                <span *ngIf="shippingFormGroup.controls['address_1'].hasError('required') && shippingFormGroup.controls['address_1'].touched || checkoutValidation?.address_1">Shipping address 1 is required.</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label>Address 2</label>
                                <input type="text" class="form-control" name="address_2"
                                       [formControl]="shippingFormGroup.controls['address_2']"
                                       [(ngModel)]="user.address_2">
                                <span *ngIf="shippingFormGroup.controls['address_2'].hasError('required') && shippingFormGroup.controls['address_2'].touched">Shipping address 2 is required.</span>
                            </div>
                        </div>
                        <div class="clearfix space20"></div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label>Zip/Postal Code <span class="text-danger">*</span></label>
                                <input required type="text" class="form-control" [ngClass]="{'ng-touched': checkoutValidation?.zip}" name="zip"
                                       [formControl]="shippingFormGroup.controls['zip']" [(ngModel)]="user.zip"
                                       required>
                                <span *ngIf="shippingFormGroup.controls['zip'].hasError('required') && shippingFormGroup.controls['zip'].touched || checkoutValidation?.zip">Shipping zip is required.</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" name="shippingEmail"
                                       [formControl]="shippingFormGroup.controls['shippingEmail']"
                                       [(ngModel)]="user.shippingEmail">
                                <span *ngIf="shippingFormGroup.controls['shippingEmail'].hasError('required') && shippingFormGroup.controls['shippingEmail'].touched">Shipping email is required.</span>
                            </div>
                        </div>
                        <div class="clearfix space20"></div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label>Phone Number <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" [ngClass]="{'ng-touched': checkoutValidation?.shippingPhone}" name="shippingPhone"
                                       [formControl]="shippingFormGroup.controls['shippingPhone']"
                                       [(ngModel)]="user.shippingPhone" required>
                                <span *ngIf="shippingFormGroup.controls['shippingPhone'].hasError('required') && shippingFormGroup.controls['shippingPhone'].touched || checkoutValidation?.shippingPhone">Shipping Phone is required.</span>
                            </div>
                        </div>
                    </div>

                    <div class="row shipping-info-wrap">
                        <div class="col-sm-offset-8 col-sm-4 col-xs-12">
                            <div class="totals">
                                <table id="shopping-cart-totals-table" style="width: 100%;">
                                    <tbody>
                                    <tr>
                                        <td style="" class="a-right" colspan="1">
                                            Subtotal Total
                                        </td>
                                        <td style="" class="a-right">
                                            <span class="price">৳{{layoutService.total_price}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="" class="a-right" colspan="1">
                                            Discount
                                        </td>
                                        <td style="" class="a-right">
                                            <span class="price">৳{{(layoutService.total_discount == 0 ? '0.00' : layoutService.total_discount)}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="" class="a-right" colspan="1">
                                            Shipping Price
                                        </td>
                                        <td style="" class="a-right">
                                            <span class="price">৳{{(layoutService.total_shippingPrice == 0 ? '0.00' : layoutService.total_shippingPrice)}}</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td style="" class="a-right" colspan="1">
                                            <strong>Grand Total</strong>
                                        </td>
                                        <td style="" class="a-right">
                                            <span class="price">৳{{layoutService.grand_total}}</span>
                                        </td>
                                    </tr>
                                    </tfoot>

                                </table>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Payment</label>
                                        <select class="form-control" name="paymentType"
                                                [formControl]="shippingFormGroup.controls['paymentType']">
                                            <option value="Walletmix">Walletmix</option>
                                            <option value="On Delivery">On Delivery</option>
                                        </select>
                                    </div>
                                </div>
                                <ul class="checkout-types">
                                    <li class="space10">
                                        <button type="button" class="btn-color" *ngIf="cart.length > 0 && layoutService.isLogin" (click)="makePayment();">Proceed to Payment</button>
                                        <button *ngIf="cart.length <= 0 && layoutService.isLogin" type="button" class="btn-color" style="font-size: 7px">Please add a product</button>
                                    </li>
                                    <li class="space10">
                                        <button type="button" class="btn-color" *ngIf="!layoutService.isLogin"
                                                (click)="goToLogin();">Please Login For Checkout
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix space20"></div>
</form>
