<!-- BREADCRUMBS -->
<div class="bcrumbs">
    <div class="container">
        <ul>
            <li><a href="#">Home</a></li>
            <li>My Account</li>
        </ul>
    </div>
</div>


<!-- MY ACCOUNT -->
<div class="account-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- HTML -->
                <div id="account-id">
                    <h4 class="account-title"><span class="fa fa-chevron-right"></span>Your Order History</h4>
                    <div class="order-history">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="cart-table">
                                        <tr>
                                            <th>Remove</th>
                                            <th>Product Image</th>
                                            <th>Product Name</th>
                                            <th>Edit</th>
                                            <th>Quantity</th>
                                            <th>Unit Price</th>
                                            <th>Subtotal</th>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-trash-o"></i></td>
                                            <td><img src="assets/images/products/fashion/5.jpg" class="img-responsive" alt=""/></td>
                                            <td>
                                                <h4><a href="./single-product.html">Product fashion</a></h4>
                                                <p>Size: M</p>
                                                <p>Color: White</p>
                                            </td>
                                            <td><i class="fa fa-edit"></i></td>
                                            <td>
                                                <select>
                                                    <option>01</option>
                                                    <option>02</option>
                                                    <option>03</option>
                                                </select>
                                            </td>
                                            <td>
                                                <div class="item-price">$ 99.00</div>
                                            </td>
                                            <td>
                                                <div class="item-price">$ 99.00</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-trash-o"></i></td>
                                            <td><img src="assets/images/products/fashion/5.jpg" class="img-responsive" alt=""/></td>
                                            <td>
                                                <h4><a href="./single-product.html">Product fashion</a></h4>
                                                <p>Size: M</p>
                                                <p>Color: White</p>
                                            </td>
                                            <td><i class="fa fa-edit"></i></td>
                                            <td>
                                                <select>
                                                    <option>01</option>
                                                    <option>02</option>
                                                    <option>03</option>
                                                </select>
                                            </td>
                                            <td>
                                                <div class="item-price">$ 99.00</div>
                                            </td>
                                            <td>
                                                <div class="item-price">$ 99.00</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-trash-o"></i></td>
                                            <td><img src="assets/images/products/fashion/5.jpg" class="img-responsive" alt=""/></td>
                                            <td>
                                                <h4><a href="./single-product.html">Product fashion</a></h4>
                                                <p>Size: M</p>
                                                <p>Color: White</p>
                                            </td>
                                            <td><i class="fa fa-edit"></i></td>
                                            <td>
                                                <select>
                                                    <option>01</option>
                                                    <option>02</option>
                                                    <option>03</option>
                                                </select>
                                            </td>
                                            <td>
                                                <div class="item-price">$ 99.00</div>
                                            </td>
                                            <td>
                                                <div class="item-price">$ 99.00</div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="table-btn">
                            <a routerLink="/order/all" class="btn-black">Back To Orders</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix space20"></div>

