<div>
    <ul class="account-list">
        <li><a routerLink="/user/my_account"> <i class="fa fa-edit"></i> My Account</a></li>
        <li><a routerLink="/user/change_password"> <i class="fa fa-edit"></i> Change Password</a></li>
        <li><a routerLink="/order/all"> <i class="fa fa-edit"></i> Order
            History</a></li>
        <li><a routerLink="/notifications/all"> <i class="fa fa-edit"></i> All Notifications</a></li>
        <!--<li><a routerLink="/user/wishlist" *ngIf="layoutService?.userGroup == 'member'"> <i class="fa fa-edit"></i> Wishlist</a></li>-->
    </ul>
</div>
