
<!-- MY ACCOUNT -->
<div class="account-wrap">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-6 col-sm-offset-3" style="border: 1px solid;padding-bottom: 30px;">
                <br><br>
                <h2 style="color:#bd362f;">Payment Not Completed</h2>
                <br><br>
                <p style="font-size:20px;color:#5C5C5C;">Your payment has not been completed successfully.</p>
            </div>
            <div class="clearfix space20"></div>
        </div>
    </div>
</div>
